<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>个人信息</title>
</head>
<body>
<div id="container">
    <header>
        <p th:text="${session.guest?.guPhone}"></p>
        <p th:text="${session.employee?.empPhone}"></p>
    </header>
    <nav class="clear">
        <ul>
            <li>
                <a th:href="@{../recruit/recruitView.do}">招聘信息</a>
            </li>
            <li>
                <a th:href="@{../resume/resumeView.do}">编写简历</a>
            </li>
            <li>
                <a href="">消息列表</a>
            </li>
            <li>
                <a th:href="@{../interview/interviewSearch.do}">面试信息</a>
            </li>
            <li>
                <a href="../pages?page=employeeDetail">个人信息</a>
            </li>
        </ul>
    </nav>
    <aside>
        l
    </aside>
    <article>
        <div>
            <h3>我的信息</h3>
            <div>
                <form>
                    <p>

                    </p>
                    <p>
                        <input type="submit" value="修改"/>
                    </p>
                </form>
            </div>
        </div>
    </article>
    <footer>

    </footer>
</div>
</body>
</html>