<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
    <link rel="stylesheet" href="/css/base.css"/>
</head>
<body>
<div id="container">
    <header>
        h
    </header>
    <nav>
        <a href="recruit/recuritView.do">招聘信息</a>
    </nav>
    <aside>
        l
    </aside>
    <article>
        <form action="people/login.do" method="post">
            <p>
                账号：<input name="acc"/>
            </p>
            <p>
                密码：<input type="password" name="pass"/>
            </p>
            <p>
                <button type="submit">登录</button>
                <button type="reset">取消</button>
                <a href="pages.do?page=register">注册</a>
            </p>
        </form>
    </article>
    <footer>

    </footer>
</div>


</body>
</html>