<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>管理员</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
</head>
<body>
<div id="container">
    <header>
h
    </header>
    <nav>
        <ul>
            <li>
                <a href="../pages.do?page=manager">首页</a>
            </li>
            <li>
                <a href="../recruit/recruitManage.do">管理招聘信息</a>
            </li>
            <li>
                <a href="../recruit/postedResume.do">查看应聘信息</a>
            </li>
            <li>
                <a href="../interview/manageInterview.do">面试筛选</a>
            </li>
            <li>
                <a href="../position/positionManageView.do">部门管理</a>
            </li>
            <li>
                <a href="../people/employeeManageView.do">员工管理</a>
            </li>
        </ul>
    </nav>
    <aside>
l
    </aside>
    <article>
        <table border="1">
            <thead>
            <th>内容</th><th>收信日期</th>
            </thead>
            <tbody>
            <tr th:each="letter:${session.manager?.letters}">
                <td th:text="${letter?.letCon}"/>
                <td th:text="${#dates.format(letter?.letDate, 'yyyy-MM-dd')}"/>
            </tr>
            </tbody>
        </table>
    </article>
    <footer>

    </footer>
</div>
</body>
</html>