<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>管理员</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
</head>
<body>
<div id="container">
    <header>
h
    </header>
    <nav>
        <ul>
            <li>
                <a href="recruit/recruitManage">添加招聘信息</a>
            </li>
            <li>
                <a href="recruit/postedResume">查看应聘信息</a>
            </li>
        </ul>
    </nav>
    <aside>
l
    </aside>
    <article>
        <table border="1">
            <thead>
            <th>内容</th><th>日期</th><th>状态</th>
            </thead>
            <tbody>
            <tr th:each="letter:${session.manager?.letters}">
                <td th:text="${letter?.letCon}"/>
                <td th:text="${letter?.letDate}"/>
                <td th:text="${letter?.letStat}"/>
            </tr>
            </tbody>
        </table>
    </article>
    <footer>

    </footer>
</div>
</body>
</html>