<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>招聘信息</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
</head>
<body>
<div id="container">
    <header>
        h
    </header>
    <nav>
        n
    </nav>
    <article>
        <table border="1">
            <thead>
                <th>招聘职位</th><th>招聘薪资</th><th>工作待遇</th><th>招聘人数</th><th>招聘条件</th>
            </thead>
            <tr th:each="recruit:${recruits}">
                <td th:text="${recruit?.recPosiName}"></td>
                <td th:text="${recruit?.recSal}"></td>
                <td th:text="${recruit?.recDeal}"></td>
                <td th:text="${recruit?.recNum}"></td>
                <td th:text="${recruit?.recReq}"></td>
            </tr>
        </table>
    </article>
    <footer>

    </footer>
</div>
</body>
</html>