<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>注册</title>
    <link rel="stylesheet" href="/css/base.css"/>
</head>
<body>
<div id="container">
    <header>
        h
    </header>
    <nav>
        n
    </nav>
    <aside>
        l
    </aside>
    <article>
        <form action="register" method="post">
            <p>
                手机号：<input name="guPhone"/>
                <span th:text="${phonefailed}"/>
            </p>
            <p>
                密&nbsp&nbsp&nbsp&nbsp码：<input type="password" name="guPass"/>
                <span th:text="${passfailed}"/>
            </p>
            <p>
                <button type="submit">注册</button>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <button type="reset">取消</button>
            </p>
            <p th:text="${failed}"/>
        </form>
    </article>
    <footer>

    </footer>
</div>
</body>
</html>