<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8"/>
    <title>填写简历</title>
    <link rel="stylesheet" href="/css/base.css"/>
</head>
<body>
<div id="container">
    <header>
        h
    </header>
    <nav class="clear">
        <ul>
            <li>
                <a th:href="@{../recruit/recruitView.do}">招聘信息</a>
            </li>
            <li>
                <a th:href="@{../resume/resumeView.do}">编写简历</a>
            </li>
            <li>
                <a href="">消息列表</a>
            </li>
            <li>
                <a th:href="@{../interview/interviewSearch.do}">面试信息</a>
            </li>
            <li>
                <a href="">个人信息</a>
            </li>
        </ul>
    </nav>
    <aside>
        l
    </aside>
    <article>
        <form th:if="${resume==null}" action="addResume.do" method="post">
            <table border="1">
                <tr>
                    <td>姓名</td>
                    <td><input name="resName" required="required"/></td>
                    <td>性别</td>
                    <td>
                        <input type="radio" name="resGend" value="0" checked="checked"/>男
                        <input type="radio" name="resGend" value="1"/>女
                    </td>
                    <td>籍贯</td>
                    <td><input name="resLoc"/></td>
                </tr>
                <tr>
                    <td>出生日期</td>
                    <td><input name="resBirth" type="date" required="required"/></td>
                    <td>手机号码</td>
                    <td>
                        <input th:value="${session.guest?.guPhone}" th:readonly="readonly" name="resPhone"/>
                    </td>
                    <td>电子邮箱</td>
                    <td><input name="resEmail" required="required"/></td>
                </tr>
                <tr>
                    <td>教育经历</td>
                    <td>
                        <select name="resEdu">
                            <option th:value="0"  th:selected="${resEdu=='0'}">博士及以上</option>
                            <option th:value="1"  th:selected="${resEdu=='1'}">硕士</option>
                            <option th:value="2"  th:selected="${resEdu=='2'}">本科</option>
                            <option th:value="3"  th:selected="${resEdu=='3'}">大专</option>
                            <option th:value="4"  th:selected="${resEdu=='4'}">高中/高职</option>
                            <option th:value="5"  th:selected="${resEdu=='5'}">初中/中专</option>
                            <option th:value="6"  th:selected="${resEdu=='6'}">小学及以下</option>
                        </select>
                    </td>
                    <td>工作经验</td>
                    <td><input name="resExp" type="number" min="0" max="50" required="required" />年</td>
                </tr>
                <tr>
                    <td>自我简介</td>
                    <td colspan="5"><input name="resDesc" style="width: 500px" required="required"/></td>
                </tr>
            </table>
            <input type="hidden" name="resGuId" th:value="${session.guest?.guId}"/>
            <p>
                <button type="submit">添加</button>
            </p>
            <p th:text="${result}"></p>
        </form>
        <form th:if="${resume!=null}" action="editResume.do" method="post">
            <table border="1">
                <tr>1l
                    <td>姓名</td>
                    <td><input name="resName" th:value="${resume?.resName}" required="required"/></td>
                    <td>性别</td>
                    <td>
                        <input type="radio" name="resGend" th:value="0" th:selected="selected"/>男
                        <input type="radio" name="resGend" th:value="1"/>女
                    </td>
                    <td>籍贯</td>
                    <td><input name="resLoc" th:value="${resume?.resLoc}"  required="required"/></td>
                </tr>
                <tr>
                    <td>出生日期</td>
                    <td><input name="resBirth" type="date" th:value="${resume?.resBirth}" required="required"/></td>
                    <td>手机号码</td>
                    <td>
                        <input th:value="${session.guest?.guPhone}" th:readonly="readonly" name="resPhone" required="required"/>
                    </td>
                    <td>电子邮箱</td>
                    <td><input name="resEmail" th:value="${resume?.resEmail}" required="required"/></td>
                </tr>
                <tr>
                    <td>教育经历</td>
                    <td>
                        <!--<input name="resEdu" type="radio" value="0"/>博士及以上-->
                        <!--<input name="resEdu" type="radio" value="1"/>硕士-->
                        <!--<input name="resEdu" type="radio" value="2"/>本科-->
                        <!--<input name="resEdu" type="radio" value="3"/>大专-->
                        <!--<input name="resEdu" type="radio" value="4"/>高中/高职-->
                        <!--<input name="resEdu" type="radio" value="5"/>初中/中专-->
                        <!--<input name="resEdu" type="radio" value="6"/>小学及以下-->
                        <select name="resEdu">
                            <option  th:value="0"  th:selected="${resEdu=='0'}">博士及以上</option>
                            <option  th:value="1"  th:selected="${resEdu=='1'}">硕士</option>
                            <option  th:value="2"  th:selected="${resEdu=='2'}">本科</option>
                            <option  th:value="3"  th:selected="${resEdu=='3'}">大专</option>
                            <option  th:value="4"  th:selected="${resEdu=='4'}">高中/高职</option>
                            <option  th:value="5"  th:selected="${resEdu=='5'}">初中/中专</option>
                            <option  th:value="6"  th:selected="${resEdu=='6'}">小学及以下</option>
                        </select>
                    </td>
                    <td>工作经验</td>
                    <td><input name="resExp" type="number" min="0" max="50" th:value="${resume?.resExp}" required="required"/>年</td>
                </tr>
                <tr>
                    <td>自我简介</td>
                    <td colspan="5"><input name="resDesc" th:value="${resume?.resDesc}" style="width: 500px" required="required"/></td>
                </tr>
            </table>
            <input type="hidden" name="resGuId" th:value="${session.guest?.guId}"/>
            <p>
                <button type="submit">修改</button>
            </p>
            <p th:text="${result}"></p>
        </form>
    </article>
    <footer>

    </footer>
</div>
</body>
</html>